html,
body {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: ITCCharterCom;
  src: local("ITC Charter Com"),
    url("Fonts/ITCCharterCom-Bold.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeueLTPro;
  src: local("Helvetica Neue LT Pro"),
    url("Fonts/HelveticaNeueLTPro-Lt.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeueLTProB;
  src: local("Helvetica Neue LT ProB"),
    url("Fonts/HelveticaNeueLTPro-Blk.ttf") format("truetype");
}

.Rectangle {
  width: auto;
  height: 42px;
  padding: 8px 22px 8px 24px;
  background-color: #f2f2f2;
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  .Rectangle {
    width: 1400px;
  }
}

.Navigation {
  width: auto;
  height: 24px;
  margin: 8px 0;
}

.Logo {
  width: 103px;
  height: 16px;
  margin: 0 0 -14px 0;
}

.Brand {
  width: 42px;
  height: 16px;
  margin: 4px 0 0 0;
  float: left;
}

.Title {
  width: 57px;
  height: 16px;
  margin: 0 0 0 -6px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.has-search .input {
  width: 344px;
  height: 40px;
  margin: -12px 0 0 382px;
  padding: 0 0 0 34px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.has-search .input:focus {
  outline: none;
}

.has-search .icon {
  width: 16px;
  height: 16px;
  margin: 2px 0 0 390px;
  object-fit: contain;
  position: absolute;
}

.Menu {
  width: 61px;
  height: 24px;
  margin: -30px 0 0 1173px;
}

.Help-Question {
  width: 16px;
  height: 16px;
  float: left;
}

.Text {
  width: 33px;
  height: 16px;
  margin: 6px 0 2px 4px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}

.bg-img {
  background-image: url("Images/bg-Image.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .bg-img {
    width: 1440px;
    height: 600px;
  }
}

.Rectangle-242 {
  position: absolute;
  width: 325px;
  height: 440px;
  top: 60px;
  left: 80px;
  padding: 28px 62px 35px 55.4px;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.Welcome-to-No-Code-Metaverse-Platform {
  font-family: HelveticaNeueLTPro;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: -0.57px;
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 16px;
}

.Its-nice-to-have-you-back {
  font-family: HelveticaNeueLTPro;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -0.5px;
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 16px;
}

.Please-enter-the-bellow-details {
  font-family: HelveticaNeueLTPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.33px;
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 16px;
}

label {
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.37px;
  text-align: left;
  color: #000;
}

input[type="text"],
input[type="password"] {
  width: 75px;
  padding: 18px 232px 18px 17px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input::placeholder {
  width: 252px;
  height: 22px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.37px;
  text-align: left;
  color: #c2c2c2;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 22px;
}

.forgot {
  opacity: 0.39;
  font-family: HelveticaNeueLTPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.33px;
  text-align: left;
  color: #000;
  margin-left: 90px;
}

.btn {
  width: 75px;
  height: 48px;
  padding: 12px 183px 16px 138px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border: solid 2px #d04a02;
  font-family: HelveticaNeueLTPro;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -0.5px;
  text-align: left;
  color: #000;
  cursor: pointer;
  margin-bottom: 15px;
}

.Dont-have-an-account {
  font-family: HelveticaNeueLTPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.43px;
  display: flex;
  justify-content: center;
  color: #252525;
}

.Dont-have-an-account .Get-Started {
  margin-left: 5px;
  font-weight: 500;
  color: #4053d2;
}
