html,
body {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: ITCCharterCom;
  src: local("ITC Charter Com"),
    url("Fonts/ITCCharterCom-Bold.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeueLTPro;
  src: local("Helvetica Neue LT Pro"),
    url("Fonts/HelveticaNeueLTPro-Lt.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeueLTProB;
  src: local("Helvetica Neue LT ProB"),
    url("Fonts/HelveticaNeueLTPro-Blk.ttf") format("truetype");
}

.Rectangle {
  width: auto;
  height: 42px;
  padding: 8px 22px 8px 24px;
  background-color: #f2f2f2;
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  .Rectangle {
    width: 1400px;
  }
}

.Navigation {
  width: auto;
  height: 24px;
  margin: 8px 0;
}

.Logo {
  width: 103px;
  height: 16px;
  margin: 0 0 -14px 0;
}

.Brand {
  width: 42px;
  height: 16px;
  margin: 4px 0 0 0;
  float: left;
}

.Title {
  width: 57px;
  height: 16px;
  margin: 0 0 0 -6px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  text-align: left;
  color: #464646;
}

.has-search .input {
  width: 344px;
  height: 40px;
  margin: -12px 0 0 382px;
  padding: 0 0 0 34px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}

.has-search .input:focus {
  outline: none;
}

.has-search .icon {
  width: 16px;
  height: 16px;
  margin: 2px 0 0 390px;
  object-fit: contain;
  position: absolute;
}

.Menu {
  width: 61px;
  height: 24px;
  margin: -30px 0 0 970px;
  display: flex;
}

.Help-Question {
  width: 16px;
  height: 16px;
}

.Notification {
  width: 16px;
  height: 15px;
}

.Dp {
  width: 40px;
  height: 40px;
  margin-left: 52px;
  margin-top: -10px;
}

.Text {
  width: 33px;
  height: 16px;
  margin: 0 24px 2px 4px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}

.bg-img {
  background-image: url("Images/bg-Image.png");
  width: 100%;
  height: 106vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .bg-img {
    width: 1440px;
    height: 600px;
  }
}

.sidebar {
    width: 52px;
    padding: 30px 0 265px 18px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }
  .sideIcon {
    width: 26px;
    height: 24px;
    margin-bottom: 40px;
    cursor: pointer;
  }
  
  .sideIcon2 {
    width: 52px;
    height: 30px;
    margin-bottom: 40px;
    cursor: pointer;
  }
  

.Rectangle-242 {
  position: absolute;
  width: 600px;
  height: 530px;
  top: 10px;
  left: 250px;
  padding: 28px 62px 35px 55.4px;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.Create-shop {
  font-family: HelveticaNeueLTPro;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: -0.57px;
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 16px;
}

.Please-fill-the-details {
  font-family: HelveticaNeueLTPro;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: -0.38px;
  text-align: left;
  color: #000;
  display: block;
  margin-bottom: 20px;
}

label {
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: -0.43px;
  text-align: left;
  color: #000;
  display: block;
}

input[type="text"] {
  width: 250px;
  padding: 18px 232px 18px 17px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px #707070;
  background-color: #fff;
}

input[type="text"]:focus {
  outline: none;
}

input::placeholder {
  width: 252px;
  height: 22px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.37px;
  text-align: left;
  color: #b9b9b9;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: #fff;
  border: solid 2px #cecece;
  cursor: pointer;
  margin-bottom: 22px;
  margin-right: 8px;
  opacity: 0.65;
}

.shop1 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 150px;
}

.border3 {
  border-left: 1px solid #000;
  height: 170px;
  position: absolute;
  left: 55%;
  top: 250px;
}

.shop2 {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 230px;
  height: 150px;
  float: right;
}

.inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: -8px;
}

.radio-inline {
  margin-right: 120px;
}

.button {
  opacity: 0.4;
  border: solid 2px #e2e2e2;
  background-color: #f4f4f4;
  border-radius: 50px;
  color: #1592e6;
  margin-bottom: 15px;
}

input[type="number"] {
  border: none;
  background: transparent;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #1592e6;
  width: 15px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-grp {
  display: flex;
  justify-content: end;
  left: 2000;
}

.btn {
  width: 119px;
  height: 40px;
  margin-right: 15px;
  padding: 5px 82px 0px 40px;
  border-radius: 12px;
  border: solid 1px #c20a0a;
  background-color: #fff;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: -0.38px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.btn2 {
  width: 119px;
  height: 40px;
  padding: 5px 82px 0px 40px;
  border-radius: 12px;
  border: solid 1px #c20a0a;
  background-color: #c20a0a;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: -0.38px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  footer {
    width: 1400px;
  }
}

.fLogo {
  /* width: 188px;
    height: 29px; */
  margin: 0 0 0 97px;
  padding-top: 30px;
}

.fBrand {
  width: 42px;
  height: 16px;
  margin: 4px 0 0 0;
  float: left;
}
.border {
  border-left: 2px solid #000;
  height: 70px;
  position: absolute;
  left: 22%;
  margin-left: -3px;
  top: 8px;
}
.footer-text-middle {
  text-align: center;
  margin-top: -25px;
}

.fmenu {
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
  text-decoration: none;
  margin-right: 150px;
}
.border2 {
  border-left: 2px solid #000;
  height: 70px;
  position: absolute;
  left: 80%;
  margin-left: -3px;
  top: 8px;
}
.Follow-Us {
  margin: -60px 105px 0px 0px;
  font-family: HelveticaNeueLTPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #646464;
  float: right;
}
.footer-content-right {
  padding-right: 40px;
  margin-top: -35px;
  float: right;
}

.icon-style {
  height: 22px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
